
a{
    text-decoration: none;
}
ul{

}
li{
    font-family: "Comfortaa", sans-serif;
    list-style-type: none;
}

.text{
    font-family: "Comfortaa", sans-serif;
}



.countdown {
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    padding-top: 10%;
  }
   
  .countdown-item {
    margin: 0 1em;
    text-align: center;
    font-size: 3vw;
  }
   
  .countdown-item span {
    display: block;
    font-size: 2em;
  }
   
  .label {
    font-size: 0.8em;
    color: #999;
  } 